<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HaloScreenshots.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HaloScreenshots.settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HaloScreenshots.Properties.Settings>
            <setting name="fbdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fbdSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="autosaveSingle" serializeAs="String">
                <value>False</value>
            </setting>
        </HaloScreenshots.Properties.Settings>
        <HaloScreenshots.settings>
            <setting name="fbdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fbdSavePath" serializeAs="String">
                <value />
            </setting>
        </HaloScreenshots.settings>
    </userSettings>
</configuration>