<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HaloReachScreenshots.settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HaloReachScreenshots.settings>
            <setting name="fbdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>0</value>
            </setting>
        </HaloReachScreenshots.settings>
    </userSettings>
</configuration>